{%extends 'blog/nav.html'%}

{% block css%}
<style>
  .blog_jumbo{
    height: 400px;
  }
</style>

{% endblock%}

{% block content%}



  
   <div class="container">
    <div class="row">
    {%for i in post %}
        <div class="col-md-6 col-lg-6 col-sm-12">

      <!-- 1jumbo -->
      <div class="jumbotron bg-dark blog_jumbo">
        <h2>
          {{i.post_name}}
        </h2>
        <p>
          {{i.post_desc|truncatechars:100}}
        </p>
        <a class="text-info font-weight-bold" href="{% url 'blogpostView' i.post_id %}">
        Continue reading</a>
      </div>
    </div>
    {%endfor%}
  </div>
  </div>




{% endblock %}