{% extends 'shop/nav.html' %}

{% block css %}

<style>
.container{
	color: black !important;
	background: rgb(11, 70, 103);
	width: 65%;
	height: 100vh;
	padding: 71px 20px;
	border-radius: 54px;
	box-shadow: 3px 3px 5px #061b1f,-3px -3px 7px #9ec9e9;
}
</style>
    

{%endblock%}

{% block content%}

<section class='about_section'>
    <div class='container  mt-5 '>
        <h1 class='text-center'>About Us </h1>
        <p class='mt-5'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, officia voluptas architecto ipsum veritatis mollitia cupiditate quia vero fuga consequatur suscipit placeat saepe debitis vel magnam reprehenderit odio molestias eveniet? 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, officia voluptas architecto ipsum veritatis mollitia cupiditate quia vero fuga consequatur suscipit placeat saepe debitis vel magnam reprehenderit odio molestias eveniet?</p>
    </div>

</section>

{% endblock  %}