{% extends 'shop/nav.html' %}
{% load static %}
{% block content %}
<div class="product_check container">
    <h4 class='text-center text-info mt-5 mb-4'>Step-1:<span class="text-warning">Check the product,before Checkout</span>.</h4>
    <p id="empty_cart"></p>
    <ul class="list-group" id="checkout_li">
    </ul>
</div>
<div class="container">
    <h4 class='text-center text-info mt-5 mb-4'>Step-2:<span class="text-warning">Fill up your address .</span>.</h4>
    {# <form method='POST' action="{% url 'checkout_feedbackiew' %}" class='form-group mt-2'> #}
    <form method='POST' action="{% url 'checkout_feedbackView'%}" class='form-group mt-2'>
            {% comment %} <form method='POST' action='{% url ' feedbackView' %}' class='form-group mt-2'> {% endcomment %}
                {% csrf_token %}
                <input type="hidden" id="hidden_inp" name="checkout_json" value="Empty_now">
                <input type="text" class='form-control mt-2' placeholder='Enter Name:' name="checkout_name" id="checkout_name" required="True">
                <input type="number" class='form-control mt-2' placeholder='phone:' name="checkout_phone" id="checkout_phone" required="True">
                <input type="email" class='form-control mt-2' placeholder='Email:' name="checkout_email" id="checkout_email" required="True">
                <input type="address" class='form-control mt-2' placeholder='address:' name="checkout_address" id="checkout_address" required="True">
                <input type="text" class='form-control mt-2' placeholder='zip code' name="checkout_zip_code" id="checkout_zip_code" required="True">
                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required="True">
                    <label style="margin-bottom: 20px;" class="form-check-label text-warning" for="defaultCheck1">
                        I,Username,Agree this conditions and rules
                    </label>
                </div>
                <button id="checkout_btn" type='submit' class='btn btn-success w-25 d-block m-auto mt-5' data-toggle="modal" data-target="#staticBackdrop">Place Order</button>
            </form>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}