{% extends "shop/Nav.html" %} {%load static%} {% block css %}

<link rel="stylesheet" href="{%static 'css/lightslider.css' %}" />
<script src="{%static 'js/jqry.js'%}"></script>
<script src="{%static 'js/lightslider.js'%}"></script>
{% comment %} <script src="{%static 'js/script.js'%}"></script> {% endcomment %}
<link rel="stylesheet" href="{%static 'css/home.css' %}"/>



{% endblock css %} {% block content %}

<section class="featured_section">
  <div class="container">
    {% comment %}
    <div class="nai" style="background: red">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusamus
      eos aliquam cumque excepturi nam obcaecati iste, modi, unde omnis
      molestias odit dolore necessitatibus eaque ex? Mollitia dolore repellendus
      exercitationem.
    </div>
    {% endcomment %} {% for cat in all_cats %}
    <h6 class="text-center text-info">{{cat}}</h6>
    <div class="caro">
      {% for p in product%} {% if p.category == cat %}

      <div class="card">
        <div class="card-img">
          <img src="/shop{{p.image.url}}" alt="Failed" />
        </div>
        <div class="card-body">
          <h5 class="card-title" id="name_pr{{p.product_id}}">{{p.product_name}}</h5>
          <p>৳ {{p.price}}</p>
        </div>
        <div class="card-footer">
        <div class="button_gr">
          <button id = "pr{{p.product_id}}" class=" add_cart btn btn-primary text-center "
                    >Add Cart</button> 

      {% comment %} <div class='cart_add_minus'>
        <button id="plus_btn" >+</button>
        <p id="number_span">1</p>
        <button id="minus_btn">-</button>
      </div> {% endcomment %}
          <a href="{% url 'productView' p.product_id %}"><button href="product" id = "prv{{p.product_id}}" class=" view_info btn btn-info text-center "
                    >View Info</button
                  ></a></div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  {% endfor %}

     
      
{% comment %} <a class="btn btn-primary" data-placement="right" data-popover-content="#a1" data-toggle="popover" data-trigger="focus" href="#" tabindex="0">Popover Example</a>

<!-- Content for Popover #1 -->
<div class="hidden" id="a1">
  <div class="popover-heading">
    This is the heading for #1
  </div>

  <div class="popover-body">
    This is the body for #1
  </div>
</div> {% endcomment %}



</section>

{% endblock %}


 {% block js %}



<script src="{%static 'js/home.js'%}"></script>
<script src="{%static 'js/cart_details.js'%}"></script>

{% endblock %}
