{% extends 'shop/nav.html' %}

{% block content %}


<div class="product_check container text-center jumbotron mt-5">
    <h4 class='text-center text-info mt-5 mb-4'>Ordered Products</h4>
    <p id="empty_cart text-info" style="color:black">
    	Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, asperiores minus, at ab perspiciatis quisquam optio id enim ratione vel omnis accusamus libero voluptate totam soluta sit animi tempore aspernatur.
    </p>
   

	<a href="{% url 'trackerView' %}" class="badge badge-warning p-3  ">Track Your Order</a
</div>



{% endblock %}

