{% extends 'shop/nav.html' %}

{% load static %}


{% block css %}
  <style>

  .fa{
  cursor:pointer;

  }

  .cart_details h1,.cart_details ol li{
  color:#094163;

  }
.cart_details {
	display: none;
  font-size:16px;
	overflow: hidden;
	width: 59%;
	position: absolute;
	top: 20%;
	right: 19%;
	z-index: 120;
	height: auto;
	border-radius: 11px;
	background: #eeeeee;
	box-shadow: 5px 5px 8px #5f5f5f, -5px -5px 8px #ffffff;
}

.cart_header {
	background: #094163;
	height: 51px;
	padding: 14px;
	text-align: center;
}
  
.cart_details ol li{
  padding:6px;
}
  </style>

{% endblock  %}

{% block content%}






    <div class=" cart_details text-center ">
      <h6 class="cart_header">Cart Products</h6>  
      <ol>
        <li>Product : 500 BDT     10x</li>
        <li>Product : 500 BDT     10x</li>
        <li>Product : 500 BDT     10x</li>
        <li>Product : 500 BDT     10x</li>
        <li>Product : 500 BDT     10x</li>

        
      
      
      </ol>
    
    </div>




{% endblock  %}


{% block js %}
  <script src="{%static "js/jqry.js"%}"></script>
  <script>

  $(".cart_show").click(function () {
  console.log("Clicked console ")
    $('body').css("background",'#eeeeee');
    $(".cart_details").slideToggle(400);
      });
  </script>
{% endblock  %}
  