{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!-- <link rel="stylesheet" href="{%static 'css/imgfit.css' %}"> -->
    <link rel="stylesheet" href="{%static 'css/lightslider.css' %}">
    <script src="{%static 'js/jqry.js'%}"></script>
    <script src="{%static 'js/lightslider.js'%}"></script>
    <script src="{%static 'js/imgfit.js'%}"></script>


<style>
    .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
</head>
<body>
    <div class="img_container">
    <!-- ________Items____________ -->
    <div class="items">
        <div class="card" style="width: 18rem;">
            <img src="{%static 'img/sport3.jpg'%}" alt="Failed">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <!-- ________Items____________ -->

        <!-- ________Items____________ -->
        <div class="items">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'img/sport3.jpg'%}" alt="Failed">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- ________Items____________ -->
    
    <!-- ________Items____________ -->
    <div class="items">
        <div class="card" style="width: 18rem;">
            <img src="{%static 'img/sport3.jpg'%}" alt="Failed">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <!-- ________Items____________ -->

        <!-- ________Items____________ -->
        <div class="items">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'img/sport3.jpg'%}" alt="Failed">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- ________Items____________ -->


            <!-- ________Items____________ -->
            <div class="items">
                <div class="card" style="width: 18rem;">
                    <img src="{%static 'img/sport3.jpg'%}" alt="Failed">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- ________Items____________ -->


                <!-- ________Items____________ -->
                <div class="items">
                    <div class="card" style="width: 18rem;">
                        <img src="{%static 'img/sport3.jpg'%}" alt="Failed">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <!-- ________Items____________ -->
    </div>
</body>
</html>