{% extends "shop/nav.html" %} {%load static%} {% block css %}

<link rel="stylesheet" href="{%static 'css/lightslider.css' %}" />
<script src="{%static 'js/jqry.js'%}"></script>
<script src="{%static 'js/lightslider.js'%}"></script>
{% comment %} <script src="{%static 'js/script.js'%}"></script> {% endcomment %}
<link rel="stylesheet" href="{%static 'css/home.css' %}"/>



{% endblock css %} {% block content %}

<section class="featured_section">
  <div class="container">
   {% for cat in all_cats %}
    <h6 class="text-center text-info">{{cat}}</h6>
    <div class="caro">
      {% for pr in product%} {% for p in pr%} {% if p.category == cat %}

      <div class="card">
        <div class="card-img">
          <img src="/shop{{p.image.url}}" alt="Failed" />
        </div>
        <div class="card-body">
          <h5 class="card-title" id="name_pr{{p.product_id}}">{{p.product_name}}</h5>
          <p>৳ {{p.price}}</p>
        </div>
        <div class="card-footer">
        <div class="button_gr">
          <button id = "pr{{p.product_id}}" class=" add_cart btn btn-primary text-center "
                    >Add Cart</button> 

      {% comment %} <div class='cart_add_minus'>
        <button id="plus_btn" >+</button>
        <p id="number_span">1</p>
        <button id="minus_btn">-</button>
      </div> {% endcomment %}
          <a href="{% url 'productView' p.product_id %}"><button href="product" id = "prv{{p.product_id}}" class=" view_info btn btn-info text-center "
                    >View Info</button
                  ></a></div>
      </div>
    </div>
    {% endif %} {% endfor %} {% endfor %}
  </div>

  {% endfor %}

     
      






</section>

{% endblock %}


 {% block js %}



<script src="{%static 'js/home.js'%}"></script>
<script src="{%static 'js/cart_details.js'%}"></script>

{% endblock %}
