.card {
  width: 100px;
  height: 250px;
  margin-top: 20px;
  background: rgb(11, 67, 99) !important;
  border-radius: 20px !important;
  box-shadow: -1px -2px 13px rgba(255, 255, 255, 0.75),
      1px 2px 13px 5px rgba(80, 72, 72, 0.75)!important;
}

.card-img {
  width: auto;
  height: 100px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0 !important;
  border: 1px solid rgb(11, 67, 99);
}

.card-body {
  /* background: rgb(11, 67, 99) !important; */
  color: white;
  height: 60px;
}

.card-body a {
  margin: auto;
  width: 100px;
  font-size: 0.6rem;
}

.card-text {
  font-size: 0.5rem;
}
.container h6 {
  margin-top: 40px;
}
.card-body h5 {
  width: 134px;
  font-size: 0.8rem;
}
.card-body p {
  padding: 2px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: #ffc721;
}

.card-footer {
  height: 80px;
}

.featured_section {
  background: #8080800d;
  min-height: 100vh;
}
.electronic_section {
  background: white;
  height: 100vh;
}
.button_gr {
  display: flex;
  justify-content: center;
}

.add_cart,.view_info {
  width: 60px;
  height: 23px;
  padding: 1px;
  /* margin: o; */
  font-size: 12px;
  margin: 2px;
}


/* ___________ADD CART CSS_________ */
.cart_add_minus {
	display: flex;
	width: 60px;
	height: 24px;
	background: #0174a1;
	border-radius: 5px;
	/* border: 1px solid #b0ba9c; */
	position: relative;
	top: 1px;
}

.plus_btn,.minus_btn{
      width: 33.3%;
    background: transparent;
     border: none;


  }

  .plus_btn:hover,.minus_btn:hover{
  background: #086386;
  transition: .4s ease-in-outs;
	border-radius: 5px;


  }

.number_span {
	width: 33.3%;
  height: 100%;
  background: #259ac9;
	font-size: 12px;
	text-align: center;
	margin: 0;
	line-height: 25px;
}







/* @media screen and (max-width: 992px) {
  .button_gr button {
    width: 53px;
    height: 20px;
    padding: 0px;
    font-size: 11px;
    margin: 1px;
  }
} 

*/
